.Form-Section{
    width:500px;
    background-color: grey;
    height:100vh;

    > h1{
        text-align: center;
    }

    > form{
        display: flex;
        flex-direction: column;  
    }

}
